<div id="bg">
	<img src="<%= random_image %>"/>
</div><!-- #bg -->

<div id="block-dashboard">
	<div class="box bg-white col-lg-4 col-lg-offset-4">
		<h2>Aanmelden</h2>

		<% if @user.errors.any? %>
			<div class="panel panel-danger">
				<div class="panel-heading">
					Fouten bij opslaan
				</div>
				<div class="panel-body">
					<ul>
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>

		<div class="form-facebook">
			<% if !session["devise.facebook_data"] || !session["devise.facebook_data"].uid %>
				<%= link_to "Gebruik Facebook voor aanmelding", user_omniauth_authorize_path(:facebook), {:class => "btn btn-primary"} %>
			<% end %>
		</div>

		<p class="form-text">of</p>
		<hr noshade="noshade" class="form-line">

		<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>

			<div class="form-group">
				<label>Naam</label>
				<%= f.text_field :name, {class: "form-control", placeholder: "Uw naam", value: @provided_name} %>
			</div>

			<div class="form-group">
				<label>E-mail</label>
				<%= f.text_field :email, {class: "form-control", placeholder: "Uw e-mail adres", value: @provided_email} %>
			</div>

			<% if !session["devise.facebook_data"] || !session["devise.facebook_data"].uid %>
				<div class="form-group">
					<label>Wachtwoord</label>
					<%= f.password_field :password, {class: "form-control", placeholder: "Uw wachtwoord", value: @account_number} %>
				</div>

				<div class="form-group">
					<label>Wachtwoord herhalen</label>
					<%= f.password_field :password_confirmation, {class: "form-control", placeholder: "Uw wachtwoord", value: @account_number} %>
				</div>
			<% end %>

			<div class="checkbox">
				<label>
					<input type="checkbox"> Ik ga akkoord met de <a href="#">Algemene voorwaarden</a>.
				</label>
			</div>

			<%= f.submit "Aanmelden", class: "btn btn-green white" %>

			<% if flash[:error] %>
				<div class="alert alert-warning" style="margin-top: 20px"><%= flash[:error] %></div>
			<% end %>

		<% end %>
	</div>
	<!-- .box -->
</div>

<% if @user.errors.any? %>
	<div class="alert alert-warning">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

