

<div id="wrapper">
	<%= form_for(@user) do |f| %>
		<div class="box bg-white col-lg-4 col-lg-offset-4">
			<h2>Profiel bijwerken</h2>

			<% if @user.errors.any? %>
				<div class="panel panel-danger">
					<div class="panel-heading">
						Fouten bij opslaan
					</div>
					<div class="panel-body">
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>

			<div class="form-group">
				<label>Naam</label>
				<%= f.text_field :name, {class: "form-control", placeholder: "Uw naam"} %>
			</div>
			<div class="form-group">
				<label>E-mail adres</label>
				<%= f.text_field :email, {class: "form-control", placeholder: "Uw e-mail adres"} %>
			</div>
			<div class="form-group recipient">
				<label>Bankrekening nummer</label>
				<%= f.text_field :accountNumber, {class: "form-control", placeholder: "NL** **************"} %>
				<small>Gebruik voor uw bankrekening nummer het <strong>IBAN</strong> nummer. Dit is vanaf februari 2014
					verplicht.
				</small>
			</div>
		</div>

		<% if @user.provider.nil? %>
			<div class="box bg-white col-lg-4 col-lg-offset-4">
				<h2>Wachtwoord wijzigen</h2>

				<div class="form-group">
					<label>Nieuw wachtwoord</label>
					<%= f.password_field :new_password, {class: "form-control", placeholder: "Minimaal 6 tekens"} %>
				</div>
				<div class="form-group">
					<label>Nieuw wachtwoord herhalen</label>
					<%= f.password_field :new_password_confirmation, {class: "form-control", placeholder: "Minimaal 6 tekens"} %>
				</div>
			</div>

			<div class="box bg-white col-lg-4 col-lg-offset-4">
				<h2>Huidige wachtwoord</h2>

				<div class="form-group">
					<label>Huidige wachtwoord</label>
					<%= password_field_tag :current_password, nil, class: 'form-control' %>
				</div>

				<%= f.submit "Opslaan", class: "btn btn-green white" %>
			</div>
		<% else %>
			<div class="box bg-white col-lg-4 col-lg-offset-4">
				<h2>Via <%= @user.provider %></h2>

				<div class="form-group">
				Omdat u bent ingelogt via <%= @user.provider %> is het belangrijk dat u deze inloggegevens strict geheim houdt.
				</div>
				<%= f.submit "Opslaan", class: "btn btn-green white" %>
			</div>
		<% end %>
	<% end %>
</div>