<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="description" content="App">
	<meta name="author" content="Lemonfish">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<title>ror-template | <%= yield(:title) %></title>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body>

<div class="container">
	<nav class="navbar navbar-default" role="navigation">

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<%= nav_link_to "Home", "/" %>
				<%= nav_link_to "About", "/about" %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
					<%= nav_link_to "Log out", "/logout" %>
				<% else %>
					<%= nav_link_to "Sign up", "/signup" %>
					<%= nav_link_to "Log in", "/login" %>
				<% end %>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<!-- .menubar -->
	<%= yield %>

	<%= render('layouts/footer') %>

	<script type="text/javascript">
		$(document).ready(function () {
			<% if flash[:notice] and flash[:notice].kind_of?(Hash) and !flash[:notice][:title].nil? and !flash[:notice][:text].nil? %>

			$.prompt("<%= flash[:notice][:text] %>", {
				title: "<%= flash[:notice][:title] %>",
				buttons: { "Sluiten": true }
			});

			<% flash[:notice] = nil %>
			<% end %>
		});
	</script>


</div>
</body>
</html>
